.routesContainer {
  background-image: url("./images/background.jpg");
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand&display=swap");

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

